# WooCommerce API Credentials
# Add these to your Netlify Environment Variables
WC_URL=https://redeem-dz.com
WC_CONSUMER_KEY=ck_af9cd008a5a97fcab32010a3a2532a5edf9fe2b5
WC_CONSUMER_SECRET=cs_10331eedd07bfc1ee87a437d503f5ef980bf0033
